<!DOCTYPE html>
<html>
<% include lib/head.ejs %>
<body>
<div class="units-container">
    <br />
    <div class="unit-centered unit-90 units-padding">

        <nav class="navbar navbar-right">
            <ul>
                <li><a href="/logout" title="Clear" data-theme="blue" data-tools="tooltip" class="fa fa-close"></a></li>
            </ul>
        </nav>

        <div class="units-row ">
            <h1>ohg</h1>
        </div>

        <div class="units-row ">
            <div class="unit-30">
                <h2>Step 1:</h2>
                Add some sequences for analysis by specifying GenBank accessions numbers or/and by adding fasta files from your computer.
                <br/><br/>
                <form method="post" action="/addurl" class="forms">
                    <div class="input-groups">
                        <input type="text" name="url" placeholder="GenBank accession number" />
                        <span class="btn-append">
                            <button class="btn btn-blue">Add</button>
                        </span>
                    </div>
                </form>

                <input type="file" name="file" data-tools="upload" data-url="/addfile">
            </div>

            <div class="unit-40">
                <h2>Step 2:</h2>
                Review the list of all sequences for analysis.
                <br/><br/>
                <ul>
                    <div id="sampleList"></div>
                </ul>
            </div>

            <div class="unit-30">
                <h2>Step 3:</h2>
                Choose reference sequence and you are ready to go!
                <br/><br/>
                <input id="radio-1" type="radio" name="reference" value="RSRS" checked> <label for="radio-1">RSRS</label> <br/>
                <input id="radio-2" type="radio" name="reference" value="rCRS"> <label for="radio-2">rCRS</label> <br/>
                <br/>
                <a href="#" class="btn btn-green" onclick="$.get('/analyze', {reference: $('input[name=\'reference\']:checked').val()});">Analyze</a>
            </div>
        </div>
    </div>
</div>
<script src="js/updateList.js"></script>
</body>
</html>