<!DOCTYPE html>
<html>
<% include lib/head.ejs %>
<body>
<div class="units-container">
    <br />
    <div class="unit-centered unit-90 units-padding">

        <nav class="navbar navbar-right">
            <ul>
                <li><a href="/logout" title="Clear" data-theme="blue" data-tools="tooltip" class="fa fa-home"></a></li>
            </ul>
        </nav>

        <div class="units-row ">
            <h1>ohg</h1>
        </div>
    </div>
</div>
</body>
</html>