<!DOCTYPE html>
<html>
<% include lib/head.ejs %>
<body>
<div class="units-container">
    <br />
    <div class="unit-centered unit-90 units-padding">

        <div class="units-row ">
            <h1>ohg</h1>
        </div>
        <br/><br/><br/>
        <div class="units-row ">
            <div id="centered-text">
                <h2>Your results will be ready soon! Watch your email! </h2>
                <a href="/new">New analysis</a>
            </div>
        </div>

    </div>
</div>
</body>
</html>